@page
@model EcommerceDataAnalysisToolClient.Pages.EcommerceDataAnalysisTool.AnalysisHomeModel
<div class="card">
    <h2><i class="fa-solid fa-chart-pie"></i>Sales Data Analysis</h2></i>
</div>
<div class="card">
    <div class="button-group">
        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='';">
                    <i class="fa-solid fa-money-bill-trend-up" style="font-size: 100px;"></i>Total Revenue
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark" href="">
                    <i class="fa-solid fa-scale-balanced" style="font-size:100px;"></i>Average Sales
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn btn-dark" href="">
                    <i class="fa-solid fa-gifts" style="font-size: 100px;"></i>Most Sold Product
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark" href="">
                    <i class="fa-solid fa-sitemap" style=" font-size: 100px;"></i>Sales by Category
                </button>
            </div>
        </div>
</div>
</div>